// BACKGROUND
#font {
    position: absolute;
    z-index: 2;
    animation: loseZIndex linear 2.4s forwards;
    #missioName {
        top: 10vh;
        left: 28vw;
    }
    #zonesName {
        top: 12vh;
        left: 55vw;
    }
    #inventaireName {
        top: 75vh;
        left: 41vw;
    }
    #coulissesName {
        top: 61vh;
        left: 52vw;
        min-width: 275px;
    }
    .background-constelation-title {
        font-size: 48px;
        transition: opacity ease-out .4s;
        opacity: 0;
    }
    #black {
        z-index: 3;
        animation: fadeInAnimation linear 1.2s forwards;
    }
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: fill;
    }
    .background-hide {
        opacity: 0;
        transition: opacity ease 0.8s;
    }
    .dessin { transition: opacity ease-out .2s; }
    .constelation { transition: opacity ease-out .4s; }
    .lose-focus.dessin, .lose-focus.constelation, .lose-focus.background-constelation-title { opacity: 0; }
    .stars { opacity: .5;}
    .focus.dessin, .focus.constelation, .focus.stars {
        opacity: 1; 
    }
    .focus.background-constelation-title { opacity: .5 ;}
    .background-shape {
        animation: lightBlinkAnimation ease 4s infinite, fadeOutLightAnimation linear 1s;
    }
}
// CONSTELATIONS WRAPPERS
#missioFakeWrapper {
    height: 64vh;
    width: 18vw;
    opacity: 0.2;
    top: 4vh;
    position: absolute;
    left: 67vh;
    z-index: 10000;
}
#zonesFakeWrapper {
    height: 59vh;
    width: 30vw;
    opacity: .2;
    top: 4vh;
    position: absolute;
    left: 126vh;
    z-index: 10000;
}
#inventaireFakeWrapper {
    height: 28vh;
    width: 41vw;
    opacity: .2;
    top: 70vh;
    position: absolute;
    left: 12.7vh;
    z-index: 10000;
}
#coulissesFakeWrapper {
    height: 50vh;
    width: 29vw;
    opacity: .2;
    top: 46vh;
    position: absolute;
    left: 131vh;
    z-index: 10000;
}

// CONTENT
main {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    animation: fadeOutAnimation ease-in 2.4s forwards;
}

// TITLE & TEXT
section#homeLeft {
    padding-top: 192px;
    padding-left: 123px;    
}
.underline {
    padding: 2rem;
    max-width: 14rem;
    background-color: #f2f2f2;
}
h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
    p { 
        margin-bottom: -5px; 
        margin-top: 0;
    }
    span {
        &:before {
            content: "";
            height: 8px;
            background-color: #3a5caa;
            position: absolute;
            z-index: -1; 
            transition: all linear .2s;
            // margin-top: 28px !important;
            width: calc(100% + 8px);
            left: -4px;
            top: 28px !important;
          }
          display: inline;
          position: relative;
        }
    .small {
        font-size: 24px;
        &:before {
            height: 6px;
            // margin-top: 27px !important;
            top: 21px !important;
        }
    }
  }
#anrText, .logos {
width: 268px;
text-align: justify;
font-size: 12px;
padding-left: 5px;
line-height: 13px;
}
#anrText { margin-top: 6px;}
.logos {
display: flex;
align-items: center;
img {
    padding-right: 8px;
}
}
.mentions-link {
    border-top: 1px solid #fff;
    padding-top: 7px;
    font-size: 14px;
}

// MENU
a {
    color:#fff;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &.primary {
        color: #3a5caa;
    }
}
.menuHome {
    color: #fff;
    padding-left: 68px;
    padding-top: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    ul { padding: 0; margin: 0;}
    .menuItem {
        list-style-type:none;
        margin-bottom: 32px;
        font-size: 20px;
        font-weight: medium;
    }
    .menuItem a { 
        position: relative; 
        &:before {
            content: "";
            height: 8px;
            background-color: #3a5caa;
            position: absolute;
            z-index: -1; 
            transition: all linear .2s;
            margin-top: 16px;
            width: 0;
            left: -4px;
        }
        &:hover {
            &:before {
                left: -4px;
                width: calc(100% + 12px);
            }
        }
    }
}
  
@keyframes fadeInAnimation {
    0% {        opacity: 1;    }
    100% {        opacity: 0;        }
}
@keyframes lightBlinkAnimation {
    0% {        opacity: 0.4;    }
    50% {        opacity: 0.5;        }
    100% {        opacity: 0.4;        }
}
@keyframes fadeOutAnimation {
    0% {        opacity: 0;    }
    100% {        opacity: 1;        }
}
@keyframes fadeOutLightAnimation {
    0% {        opacity: 0;    }
    100% {        opacity: 0.5;        }
}

@keyframes loseZIndex {
    0% { z-index: 3;}
    100% { z-index: 1;}
}



// RESPONSIVE
@media (max-width: 1441px) and (min-width: 761px) {
    section#homeLeft {
        padding-top: 132px;
        padding-left: 123px;    
    }
    h1 {
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 16px;
        margin-top: 0;
        // .small {
        //     font-size: 20px;
        //     &:before { margin-top: 25px !important; }
        // }
        // span {
        //     &:before { margin-top: 24px !important; }
        // }
    }
    .menuHome {
        padding-top: 12px;
        .menuItem {
            margin-bottom: 22px;
            font-size: 16px;
            a {
                &:before {
                    margin-top: 12px;
                }
            }
        }
    }
    #missioName {
        left: 25vw !important;
    }
    #coulissesName {
        left: 48vw !important;
    }
}

@media (min-width: 1441px) {
    section#homeLeft {
        padding-top: 172px;
    }
}