@media only screen and (max-width: 760px) {
    html, body {
        cursor: inherit;
        overflow: auto;
        overflow-x: hidden;
    }
    h1 {
        position: fixed;
        padding-left: 54px;
        span {
            font-size: 24px;
            &:before {
                height: 6px;
            }
        }
        .small {
            font-size: 18px;
            &:before {
                height: 5px;
                margin-top: 28px;
            }
        }
        p {
            margin-bottom: -15px;
        }
    }
    .maintenance-h1 {
        position: inherit;
        padding-left: 0;
        span {
            font-size: 24px;
            &:before {
                margin-top: 0;
                top: 22px;
            }
        }
        .small {
            font-size: 18px;
            &:before {
                margin-top: 0;
                top: 16px;
            }
        }
        p {
            margin-bottom: -15px;
        }
    }
    .maintenance-h2 {
        font-size: 18px;
    }
    #fontStatic, .mentions-link {
        position: fixed;
        width: 50%;
        text-align: center;
        left: 0;
    }
    main {
        padding: 40px 0;
        width: 100vw;
        .menuHome {
            position: absolute;
            z-index: 3;
            text-transform: uppercase;
            padding-left: 0;
            #burger {
                width: 36px;
                height: 36px;
                position: fixed;
                z-index: 8;
                margin-top: 4px;
                .burger-line {
                    background-color: #fff;
                    width: 100%;
                    height: 4px;
                    margin-bottom: 8px;
                    border-radius: 2px;
                    transition: all .8s ease;
                }
                &.open {
                    #line1 {
                        transform: translate(0px, 8px) rotate(45deg);
                    }
                    #line2 {
                        opacity: 0;
                    }
                    #line3 {
                        transform:translate(0px, -16px) rotate(-45deg);
                    }
                }
            }
            .menuItem {
                margin: 32px 0 !important;
            }
            .menu-mobile {
                position: fixed;
                left: 100vw;
                transition: all .8s ease;
                opacity: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                top: 25vh;
                &.open {
                    left: 0;
                    opacity: 1;
                }
            }
        }
        .logo-wrapper {
            height: 71vh;
            position: absolute;
            top: 408vh;
            width: calc(100vw - 160px);
            left: 0;
            padding-left: 80px;
            padding-right: 80px;
            .logos, #anrText {
                display: flex;
                flex-direction: column;
                width: 100%;
                img {
                    margin-bottom: 32px;
                }
            }
        }
        .header {
            position: inherit !important;
            padding: 0 40px !important;
            width: calc(100vw - 80px) !important;
            margin: 0 !important;
            flex-direction: column;
            text-align: center;
            align-items: center;
            height: 235px !important;
            &.mentions {
                height: auto !important;
            }
            ul, li {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                margin-top: 16px;
                width: 50%;
            }
            .constelation-title {
                width: 100%;
                left: 0;
                top: 18vh;
                font-size: 36px;
                text-align: center;
            }
        }
        .main {
            #content {
                overflow-y: hidden !important;
                height: 100%;
                margin-top: 0;
                #laMission {
                    height: calc(100vh - 255px);
                    padding: 0 40px;
                }
                #laMission, #objectifMonde, #ecoleUrbaine, #footer {
                    padding: 0 40px;
                }
                .citation {
                    font-size: 18px;
                }
                .citation-content {
                    font-size: 10px;
                    .author {
                        font-size: 12px;
                    }
                }
            }
            #objectifMonde {
                .reverse-mobile {
                    flex-direction: column !important;
                }
                #objectifImg-wrapper {
                    margin-bottom: 50px;
                    margin-top: 50px;
                    width: auto;
                    img { width: 100%; }
                    .small-italic {
                        font-size: 14px;
                        font-style: italic;
                        font-weight: initial;
                        text-align: right;
                    }
                }
                .page-content {
                    .d-flex {
                        flex-direction: column-reverse;
                    }
                    #objectif-column1 p {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
                h3 {
                    font-size: 24px;
                    display: block;
                    width: 100%;
                    text-align: center;
                    &:before {
                        width: 220px;
                        left: inherit;
                        text-align: center;
                        height: 8px;
                        margin-top: 21px;
                        margin-left: -10px;
                    }
                }
                #objectif-column1, #objectif-column2 {
                    width: 100% !important;
                    padding-left: 0 !important;
                    p {
                        padding-right: 0 !important;
                    }
                }
                .reverse-mobile {
                    .h-100vh {
                        height: auto !important;
                    }
                }
                #objectif-column1 {
                    padding-left: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                .major {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    &.majorA {
                        flex-direction: row-reverse;
                    }
                    .zoomedImgContainer {
                        max-width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                    .imgDescription {
                        width: 50% !important;
                        position: inherit !important;
                        opacity: 1 !important;
                        line-height: normal !important;
                        margin-top: 5% !important;
                        padding: 8px;
                        text-align: left !important;
                        top: 0 !important;
                        span {
                            opacity: 1 !important;
                            font-size: 10px !important;
                        }
                        .imgDescriptionTitle {
                            font-size: 12px !important;
                            font-weight: bold;
                        } 
                    }
                }
            }
            #anthropocene {
                .page-content {
                    margin-top: 32px !important;
                }
                #title-anthropocene {
                    font-size: 42px;
                }
                #anthropocene-definition {
                    padding: 64px 60px !important;
                    padding-inline: 60px !important;
                    font-size: 16px !important;
                    font-weight: inherit;
                }
                #anthropocene-aditionnal {
                    display: none;
                }
                .d-flex > div {
                    width: 100% !important;
                }
            }
            #ecoleUrbaine {
                .page-content {
                    margin-top: 32px !important;
                    width: 100% !important;
                }
                #logoUni {
                    img {
                        width: 65px;
                        height: 65px;
                    }
                    h3 {
                        top: -14px;
                        font-size: 20px;
                        p {
                            margin-bottom: -22px;
                            span {
                                &:before {
                                    margin-top: 26px;
                                }
                            }
                        }
                        span {
                            &:before {
                                margin-top: 12px;
                                height: 8px;
                            }
                        }
                    }
                    h4 {
                        margin-top: -22px;
                        font-size: 16px;
                    }
                }
                .content > div {
                    width: 100% !important;
                }
                .content {
                    padding-left: 0;
                    // flex-direction: column-reverse;
                    img {
                        margin-left: 0;
                        width: 100%;
                        margin-bottom: 32px;
                    }
                    font-size: 14px !important;
                    h5 {
                        &:before {
                            display: none;
                        }
                    }
                    ul {
                        padding: 0 0 0 32px !important;
                        font-size: 12px;
                        margin-bottom: 32px;
                    }
                    h3 {
                        p {
                            margin: 0 0 -22px !important;
                        }
                    }
                }
                .content.with-photo {
                    text-align: justify;
                }
                .content.mt-64 {
                    margin-top: 32px !important;
                    flex-direction: column;
                }
            }
            #footer {
                h3 {
                    background-image: none !important;
                    font-size: 18px !important;
                }
                .footer-logos {
                    margin-top: 32px;
                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 0;
                        list-style-type: none;
                        > a {
                            width: 50%;
                            div {
                            display: flex;
                            flex-direction: column;
                            font-size: 12px;
                            align-items: center;
                            text-align: center;
                            padding: 0 8px;
                            img {
                                display: block;
                                margin-bottom: 8px;
                            }  
                            }
                        }
                    }
                }
                #footer-links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    > div {
                        justify-content: center;
                        margin: 32px 32px 16px;
                        font-size: 14px;
                    }
                }
                font-size: 14px;
                margin-bottom: 96px;
            }
            #zonesCitation, #inventaire, #coulissesCitation {
                height: calc(100vh - 255px);
                padding: 0 40px;
            }
            .zone {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    font-size: 42px;
                    line-height: 42px;
                    margin-top: 0;
                }
                .zone-subtitle {
                    margin-left: 0 !important;
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                .button-open {
                    top: 0 !important;
                    left: 0 !important;
                }
                #zone1-open, #zone3-open, #zone5-open {
                    left: 100px !important;
                }
            }
        }
    }
    .popup-content {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        .close {
            top: 24px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Montserrat";
            margin: 12px 0;
        }
    }
    #carousel {
        width: 100vw;
        height: calc(85vw + 16px);
        position: inherit;
        > div {
            margin: inherit;
        }
        .previous-hide, .next-hide {
            display: none;
        }
        .current, .current-wrapper {
            width: 86.2vw;
            left: 5vw;
        }
        .current-wrapper {
            z-index: 4;
            position: absolute;
            height: 86.2vw;
        }
        img.next, .next-wrapper {
            left: 100%;
            width: 85vw;
        }
        img.previous, .previous-wrapper {
            left: -100vw;
            width: 85vw;
        }
        img.previous, img.next {
            transform: scale(0.25);
        }
    }
    .wrappers-mobile {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        position: relative;
        z-index: 50;
        #next-arrow, #previous-arrow {
            width: 16px
        }
    }
    #popupMain {
        position: inherit;
        height: auto;
        .popup-title {
            width: 100%;
        }
        .popup-subtitle, h2 {
            display: none;
        }
        .popup-description {
            font-size: 12px;
            padding: 0 64px;
            text-align: center !important;
            margin: auto;
            .ta-right {
                text-align: center !important;
            }
            p {
                margin: 24px 0;
            }
            span, a {
                margin-bottom: 12px;
            }
        }
    }
    #font {
        background-color: #fff;
        margin: auto;
        padding: 0;
        margin-bottom: 80px;
        top: 0;
        left: 0;
        #fontMissio, #fontZones, #fontInventaire, #fontCoulisses {
            position: absolute;
            left: 0;
            transition: all .8s ease;
            &.hidden {
                opacity: 0;
                left: -100vw;
            }
        }
        .background-constelation-title {
            transition: none;
            opacity: 1;
            font-size: 32px;
            span {
                opacity: .5;
            }
            .constelation-title {
                font-size: 16px;
                font-weight: normal;
                font-family: "Montserrat";
                font-style: normal;
                left: 9px;
                top: 14px;
                width: 200px;
            }
        }
        #missioName {
            top: 46vh;
            left: 64vw;
        }
        #zonesName {
            top: 162vh;
            left: 44vw;
        }
        #inventaireName {
            top: 260vh;
            left: 40vw;
        }
        #coulissesName {
            top: 372vh;
            left: 40vw;
        }
        
        #black, #stars {
            animation: inherit;
        }
        #stars {
            z-index: 4;
        }
        .dessin-mobile {
            position: absolute;
            width: 100vw;
            height: auto;
            z-index: 5;
            &.missio-mobile {
                top: 8vh;
            }
            &.zones-mobile {
                top: 108vh;
            }
            &.inventaire-mobile {
                top: 208vh;
            }
            &.coulisses-mobile {
                top: 308vh;
            }
        }
    }
    #missioFakeWrapper, #zonesFakeWrapper, #inventaireFakeWrapper, #coulissesFakeWrapper {
        position: absolute;
        z-index: 2 !important;
    }
    #missioFakeWrapper {
        height: 62vh;
        width: 79vw;
        top: 23vh;
        left: 14vw;
    }
    #zonesFakeWrapper {
        height: 62vh;
        width: 80vw;
        top: 125vh;
        left: 9vw;
    }
    #inventaireFakeWrapper {
        height: 38vh;
        width: 87vw;
        opacity: 0.4;
        top: 235vh;
        left: 9vw;
    }
    #coulissesFakeWrapper {
        height: 54vh;
        width: 79vw;
        top: 327vh;
        left: 14vw;
    }
    section#homeLeft {
        padding-top: 0;
        padding-left: 0;
        margin-top: -32px;
    }
    #home {
        padding: 0 32px;
        height: calc(100vh - 64px);
        width: calc(100vw - 64px);
    }
    .main #content {
        width: auto;
        position: inherit;

    }
    #analyse {
        padding: 0 40px;
        .h-100vh {
            height: auto;
        }
        #analyse1 {
            width: 100%;
        }
        .right, .left {
            width: 100%;
            display: block;
            .column1, .column2 {
                width: 100%;
                padding-left: 0;
            }
        }
        .left {
            display: flex;
            flex-direction: column-reverse;
        }
        p {
            margin-left: 0 !important;
        }
        #analyseImg-wrapper {
            width: 100% !important;
            margin-top: 16px !important;
            img {
                width: 100% !important;
            }
        }
    }
}