body {
  margin: 0;
  #font>div {
    transition: all 0.8s linear;
    transform: scale(1) opacity(0) translate(0,0);
  }
  #fontStatic.zoomed {
    transform: scale(1.2);
  }
  .zoomedMissio .background-shape, .zoomedMissio .stars,
  .zoomedZones .background-shape, .zoomedZones .stars,
  .zoomedInventaire .background-shape, .zommedInventaire .stars,
  .zoomedCoulisses .background-shape, .zoomedCoulisses .stars {
    opacity: .2 !important;
    animation: none;
  }
  .zoomed .background-shape, .zoomed #stars {
    animation: none;
    opacity: .2 !important;
  }
  .zoomed .background-hide {
    opacity: initial;
  }
  .zoomed .stars {
    opacity: 1 !important;
    // filter: invert(100%) sepia(4%) saturate(77%) hue-rotate(250deg) brightness(115%) contrast(84%);
    filter: invert(82%) sepia(98%) saturate(0%) hue-rotate(331deg) brightness(108%) contrast(84%);
  }
  .zoomed .constelation {
    opacity: .8 !important;
    // filter: invert(100%) sepia(4%) saturate(77%) hue-rotate(250deg) brightness(115%) contrast(84%);
    filter: invert(82%) sepia(98%) saturate(0%) hue-rotate(331deg) brightness(108%) contrast(84%);
  }
  .zoomed .dessin {
    opacity: .2 !important;
  }

  // MISSIO ZOOM
  #fontMissio {
    transition: translate linear 0.8s, scale linear 0.8s;
  }
  #fontMissio.zoomed {
    transform: translate(-82vw,-12vh) scale(3.2);
  }
  #fontMissio.zoomedZones, #fontMissio.zoomedCoulisses, #fontMissio.zoomedInventaire { transform: scale(1.35); }
  
  // ZONES ZOOM
  #fontZones {
    transition: all linear 0.8s;
  }
  #fontZones.zoomed {
    transform: translate(-156vw, -6vh) scale(2.7);
  }
  #fontZones.zoomedMissio, #fontZones.zoomedCoulisses, #fontZones.zoomedInventaore { transform: scale(1.2); }

  // COULISSES ZOOM
  #fontCoulisses {
    transition: all linear 0.8s;
  }
  #fontCoulisses.zoomed {
    transform: translate(-85vw, -77vh) scale(1.8);
  }
  #fontCoulisses.zoomedMissio, #fontCoulisses.zoomedZones, #fontCoulisses.zoomedInventaire { transform: scale(1.2); }

  // INVENTAIRE ZOOM
  #fontInventaire {
    transition: all linear 0.8s;
  }
  #fontInventaire.zoomed {
    transform: translate(-14vw, -130vh) scale(2.3);
  }
  #fontInventaire.zoomedMissio, #fontInventaire.zoomedZones, #fontInventaire.zoomedCoulisses { transform: scale(1.2); }

}

  