@import "asset/scss/home.scss";
@import "asset/scss/missio.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:light,regular,medium,semi-bold,bold');
@import url('https://fonts.googleapis.com/css?family=Bodoni+Moda:light,regular,medium,semi-bold,bold');

// GENRAL (cursor and body)
html, body {
  cursor: none;
  // overflow: hidden;
  font-family: 'Bodoni Moda';
  font-weight: 500;
}
a:hover {
  cursor: none;
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 29px;
  height: 29px;
  left: -14.5px;
  top: -14.5px;
  border-radius: 50%;
  z-index: 11000;
  background: #3a5caa;
  transition: width 0.2s, height 0.2s;
  opacity: 0.8;
}
.cursor--ext {
  width: 58px;
  height: 58px;
  left: -29px;
  top: -29px;
  border-radius: 50%;
  z-index: 11000;
  background: transparent;
  border: 1px solid #3a5caa;
  transition: opacity .2s;
  opacity: 0;
}
.cursor--ext.large {
  opacity: 1;
}
.cursor--small.large {
  width: 8px;
  height: 8px;
  left: -4px;
  top: -4px;
}
h2 {
  margin-top: 0;
}

// GENERAL STYLE
.uppercase {
  text-transform: uppercase;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.c-black {
  color: #000;
}
.c-primary {
  color: #3a5caa;
}

// RESPONSIVE
@media (max-width: 1441px) {
  .cursor--small {
    width: 20px;
    height: 20px;
  }
  .cursor--small.large {
    width: 8px;
    height: 8px;
    left: -20px;
    top: -20px;
  }
}