@import "assets/scss/app.scss";
@import "assets/scss/home.scss";
@import "assets/scss/missio.scss";
@import "assets/scss/zones.scss";
@import "assets/scss/modal.scss";
@import "assets/scss/inventaire.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:light,regular,medium,semi-bold,bold');
@import url('https://fonts.googleapis.com/css?family=Bodoni+Moda:light,regular,medium,semi-bold,bold');
@import "assets/scss/mobile.scss";

  // FONDS
  .b-white, .popup-content {
    color: #000;
    background: url('./assets/img/croix2.png'), #fff !important;
    background-size: cover;     
  }